div.userimage {
	width: 80px;
	height: 100px;
        float: left;
        display: inline;
        margin: 5px 5px 0 0;
}

div.userimage img {
	width: 80px;
	height: 100px;
        border: 1px solid black;
}

div.propimage {
        float: right;
        width: 1px;
        height: 100px;
}

div.clear {
        clear: both;
        height: 1px;
        overflow: hidden;
}

div.emailwrap {
        border-style: dotted;
        border-width: 0 0 1px 0;
        border-color: #000;
}

span.emailname-self {
        font-style: italic;
}

div.emaildetails-even {
        clear: both;
	background-color:#ffffff;
        padding: 10px 10px 10px 10px;
        border-style: dotted;
        border-width: 1px 0 0 0;
        border-color: #000;
}
div.emaildetails-odd {
        clear: both;
	background-color:#eeeeee;
        padding: 10px 10px 10px 10px;
        border-style: dotted;
        border-width: 1px 0 0 0;
        border-color: #000;
}
div.emaildetails-self-even {
        clear: both;
	background-color: #eeeecc;
        padding: 10px 10px 10px 10px;
        border-style: dotted;
        border-width: 1px 0 0 0;
        border-color: #000;
}
div.emaildetails-self-odd {
        clear: both;
	background-color: #eeeecc;
        padding: 10px 10px 10px 10px;
        border-style: dotted;
        border-width: 1px 0 0 0;
        border-color: #000;
}

pre.email-body {
        margin: 10px 0px 10px 0px;
}

p.email-metadata {
        margin: 0px;
}

p.email-navlink {
        margin: 0px;
}

p.email-navlink a {
	margin: 0 30px 0 0;
}

span.emailintro {
        margin: 0;
        padding: 0;
}

span.emailremainder {
        margin: 0;
        padding: 0;
        display: none;
}        
