ul.files {
  padding: 0 0 0 0;
}
li.searchitem {
    list-style-type: none;
    clear: both;
    margin: 0 0 10px 0;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
}

span.searchlink {
    font-size: 120%;
}
div.searchdescription {
    font-size: 90%;
}
div.searchinfo {
    font-size: 90%;
}
div.searchtime {
    font-size: 90%;
}

q.searchtags {
    quotes: "“" "”";
}
