hr {
	margin: 1em 0 1.5em 0;
	padding: 0;
	line-height: 5px;
}

table.feedbackresults {
	margin: 0;
	padding: 5px 5px 15px 5px;
}

table.feedbackresults td {
	text-align: center;
	padding: 5px 5px 15px 5px;
}

table.feedbackresults div.label, table.choice td {
	font-weight: normal;
	font-size: 90%;
}

/* Multiple */

ul.multiple {
	margin: 0;
	padding: 0;
	list-style:none;
}

ul.multiple li {
	margin: 0 0 25px 0;
	padding: 0 0 3px 0;
	clear:both;
}

ul.multiple div.label {
	margin: 0;
	padding: 0 15px 0 0;
	width: 180px;
	float:left;
}

ul.multiple div.field {
	margin: 0;
	padding: 0;
	float:left;
}


/* Choice */

ul.choice {
	margin: 0;
	padding: 0;
	list-style:none;
}

ul.choice li {
	margin: 0 0 25px 0;
	padding: 0 0 3px 0;
	clear:both;
}

ul.choice div.label {
	margin: 0;
	padding: 0 15px 0 0;
	width: 180px;
	float:left;
}

ul.choice div.field {
	margin: 0;
	padding: 0;
	float:left;
}

/* Text Area Comments */

textarea.feedback {
	margin: 0 0 20px 0;
}

/* Text Answers */

div.textanswer {
	padding: 0 0 20px 0;
}

div.textanswer label {
	margin: 5px 10px 0 0;
	font-weight:normal;
}

h4 {
	font-size: 90%;
}
