/* Imported Stylesheets */

@import "layout.css";
@import "contacts.css";
@import "/Presentation/Tofu/FileLibrary/css/results.css";
@import "/Presentation/Tofu/FileLibrary2/css/results.css";
@import "/Presentation/Tofu/MailingListManager/css/email.css";
@import "feedback.css";
@import "/Presentation/Tofu/XForms/css/calendar.css";
@import "/Presentation/Tofu/XForms/css/xforms.css";
@import "icons.css";
@import "/PresentationCustom/Tofu/Common/css/globalstyle.css";

/* General Styles */

body {
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-size:0.8em;
	color:#000000;
}

/* Text Formatting */

h1 { 
	margin: 0 0 0.5em 0; 
	padding: 0; 
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-size:1.5em; 
	font-weight:bold; 
	color:#000000; 
}

h2 {
	margin: 0 0 0.5em 0; 
	padding: 0; 
	font-size:1em; 
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-weight:bold; 
	color:#000000;
 	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #000;
}

h2.section { 
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-size:2em;
	font-weight:bold; 
	color:#000000; 
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
	}

h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-size: 1em;
	font-weight:bold;
	color:#336699;
	margin:1em 0 0 0;
}

h4 { 
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
	font-size: 0.8em;
	color:#000000;
	margin:0 0 5px 0; 
}

pre { 
	font-family: 'Trebuchet MS', 'Lucida Grande', verdana, sans-serif;
        font-size: 1.0em;
}

p {
	margin: 0 0 1em 10px;
}

.fauxTable {
  display: table;
  border-collapse: collapse
}
.tr {
  display: table-row;
}
.td, .th {
  display: table-cell;
  padding: 5px;
}
.th {
  font-weight: bold;
  border-bottom: thin solid black;
}

.colgroup {
  display: table-column-group;
}

.col { 
  display: table-column;
}

#colEmailAddress { 
  border-left: 1em solid white;
  border-right: 1em solid white;
}


.helpLink {
  font-size: small;
  font-weight: medium;
  color: #aaaaaa;
  background-color: inherit;
  text-decoration: underline;
}

.helpLink:hover {
  cursor: pointer;
  font-weight: bold;
}