body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

form {
	margin: 0;
	padding: 0;
}

/* External Bar */

#externalbar {
	margin: 0;
	padding: 3px;
	background-color:#000;
	height:18px;
}
#division label {
	color:#fff;
	font-weight:bold;
	font-size:10px;
	margin: 0 5px 0 0;
	padding: 0;
}

#division select {
	font-size:10px;
	margin: 0;
	padding: 0;
}

#division input {
	font-size:10px;
	font-weight:bold;
	color:#fff;
	background-color:#000;
	border-style:none;
	cursor:pointer;
	margin: 0 0 0 8px;
	padding: 0;
}

#division input:hover {
	color:#ffcc00;
}

#externallinks {
	position:absolute;
	top:5px;
	right:15px;
	margin: 0;
	padding: 0;
}

#externallinks ul {
	width:350px;
	margin: 0;
	padding: 0;
	text-align:right;
}

#externallinks li {
	display:inline;
	margin: 0;
	padding: 0 0 0 10px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
}

#externallinks a {
	color:#fff;
	text-decoration:none;
}

#externallinks a:visited {
	color:#fff;
	text-decoration:none;
}

#externallinks a:hover {
	color:#ffcc00;
	text-decoration:none;
}

/* Title Bar */

#titlebar {
	margin: 0;
	padding: 0;
	background-image: url(/images/layout/toptile.gif);
	background-repeat: repeat-x;
	height: 37px;
	line-height: 37px;
}

#titlebar span.group {
	margin: 0;
	padding: 0 10px 0 10px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	font-style: italic;
}

#titlebar span.division {
	margin: 0;
	padding: 0 10px 0 0;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-style: italic;
}

#titlebar span.bannerimage {
	margin: 0;
	padding: 0 10px 0 0;
        border: 0;
}

#titlebar img {
	margin: 0;
	padding: 0;
}

/* Utilities */

#utilities {
	position:absolute;
	top:27px;
	right:10px;
	width:350px;
}

#groups {
	float:right;
} 

#groups img {
	border-width:0px;
} 

#loggedin {
	float:right;
	width:150px;
	font-size:11px;
	margin: 0 5px 0 10px;
	padding: 2px 0 0 0;
}

#loggedin p {
	margin: 0;
	padding: 0;
	color:#fff;
}

#loggedin p+p {
	font-weight:bold;
}

#loggedin a {
	color:#fff;
	text-decoration: none;
}

#loggedin a:visited{
	color:#fff;
	text-decoration: none;
}

#loggedin a:hover{
	color:#ffcc00;
	text-decoration: none;
}

#utilitylinks {
	float: right;
	width: 200px;
	font-size: 10px;
}

#utilitylinks ul {
	margin: 2px 0 0 0;
	padding: 0;
	list-style:none;
}

#utilitylinks li {
	margin: 0;
	padding: 0;
	font-weight:bold;
        text-align: right;
}

#utilitylinks a {
	color:#fff;
	text-decoration: none;
}

#utilitylinks a:visited{
	color:#fff;
	text-decoration: none;
}

#utilitylinks a:hover{
	color:#ffcc00;
	text-decoration: none;
}



/* Site Navigation (alias main menu, alias menumain) */

#sitenavigation {
	margin: 0;
	padding: 0;
	background-image: url(/images/layout/toptile2.gif);
	background-repeat: repeat-x;
	height:26px;

}

#sitenavigation  ul {
	margin: 0;
	padding: 0 0 0 10px;
}

#sitenavigation li {
	display:inline;
	margin: 0;
	padding: 0 18px 0 18px;
	font-size:11px;
	font-weight:bold;
	color:#333399;
	line-height:26px;
}
#sitenavigation {
	margin-left: -18px;
}
#sitenavigation a.current {
	color:#333399;
}

#sitenavigation a.current:visited {
	color:#333399;
}

#sitenavigation a {
	color:#333333;
	text-decoration:none;
}

#sitenavigation a:visited {
	color:#333333;
	text-decoration:none;
}

#sitenavigation a:hover {
	color:#333399;
	text-decoration:none;
}


/* Contextual Navigation */

#contextnav {
	position:absolute;
	top:105px;
	left:8px;
	margin: 0;
	padding: 0;
	width: 120px;
	border-style: solid;
	border-width: 1px;
	border-color:#ccc;
}

#contextnav p {
	font-size: 11px;
	margin: 0px;
	padding: 2px 2px 2px 10px;
	border-bottom: 1px solid #ccc;
}

#contextnav dl, #contextnav ul {
	margin: 0;
	padding: 10px;
	width: 110px;
	font-weight:bold;
	list-style-type:none;
	list-style-position:outside;
}

#contextnav dd, #contextnav li {
	margin: 0;
	padding: 0 0 6px 0;
	color:#333399;
	font-size:11px;
}

#contextnav dl dl, #contextnav li li {
	margin: 3px 0 3px 5px;
	padding: 0;
	width: 100px;
	font-weight:normal;
	font-size:11px;
	color:#666699;
}

#contextnav dd a.current, #contextnav li a.current {
	color:#666699;
	text-decoration:none;
}

#contextnav dd a.current:visited, #contextnav li a.current:visited {
	color:#666699;
	text-decoration:none;
}

#contextnav dd a, #contextnav li a {
	color:#660000;
	text-decoration:none;
}

#contextnav dd a:visited, #contextnav li a:visited {
	color:#660000;
	text-decoration:none;
}

#contextnav dd a:hover, #contextnav li a:hover {
	color:#666699;
	text-decoration:none;
}

/* Main Content Area */

#content, #divisionHomeContent {
	margin: 18px 25px 25px 150px;
	padding:15px 10px 15px 10px;
	min-height:300px;
	border-style: solid;
	border-width: 1px;
	border-color:#ccc;
}

#content ul li, #divisionHomeContent ul li {
	margin: 0 0 3px 0;
	padding: 0 0 0 0;
}

#content ul ul, #divisionHomeContent ul ul  {
	margin: 5px 0 5px 1.5em;
	padding: 0 0 0 0;
}

.breadcrumb {
	font-size:11px;
	margin: 0 0 15px 0;
}

/* Search Area */

/*
#searcharea {
	position:absolute;
	top:100px;
	right:15px;
	width:170px;
	text-align:right;
}
*/

#searcharea {
	float: right;
	width:170px;
	text-align:right;
	margin: 20px 30px 0 0;
}

#searcharea h3 {
	text-align: left;
	width: 150px;
	margin: 0 0 3px 5px;
	font-size: 11px;
	color: #000;
}

#searcharea input.button {
	font-size:10px;
}

#searcharea input.text {
	width: 120px;	
}

#searcharea form {
	clear: both;
	margin: 0;
	padding: 0 0 12px 0;
}

.message-result {
        background-color: #eeeeee;
        border-color: black;
        border-width: thin;
        border-style: solid;
        width: 70%;
        padding: 5px 5px 0 5px;
        font-size: 100%;
}

.message-error {
        background-color: #ff1111;
        border-color: black;
        border-width: thin;
        border-style: solid;
        width: 70%;
        padding: 5px 5px 0 5px;
        font-size: 100%;
}

/* Two column layout for the division homepage: there is a left column
 * 	and a right column  and a noFloat div to stop them causing havoc.
 */
.leftColumn {
	float: left;
	width: 45%;
}
.rightColumn {
	float: right;
	width: 45%;
}
.noFloat {
	clear: both;
}
/* Layout the division homepage. It is like every other home page, but
 *	without the context-navigation (alias sidemenu, alias menuside)
 * 	so it shares a lot in common with #content. 
 */
#divisionHomeConent #contextnav {
	display: none;
}

#divisionHomeContent {
	margin: 18px 10px 18px 10px;
	padding:15px 10px 15px 10px;
}

.alternateATOM, .alternateATOM a, .alternateATOM a:visited {
  background-color: inherit;
  color: #aaaaaa;
}

.helpLink {
  font-size: small;
  font-weight: medium;
  color: #aaaaaa;
  background-color: inherit;
  background-image: none;
  text-decoration: underline;
}

.helpLink:hover {
  cursor: pointer;
  font-weight: bold;
}

ul#resultsnav {
	list-style: none;
	padding-left: 10px;
	margin-left: 0px;
}

#footerLinks a { 
  padding-right: 10px;
}