/* Print Medium Style Sheet         */
/* Michael JasonSmith               */
/* Copyright OnlineGroups.Net, 2006 */

/* Set up the default colours and font. Serif is easier to read on */
/*   paper, as is back on white text. (Besides, colour is rare and */
/*   expensive.) */
body {
  color: black;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

p, ul, ol, dl, table {
  font-size: 120%;
}

h1,h2,h3,h4, h5, h6, caption, legend, th, label, .label, #titlebar .division, .row .label {
  font-family: Trebuchet,'Trebuchet MS',arial,helvetica,clean,sans-serif;
  color: black;
}

/* Do not display any of the navigation elements. */
#externallinks, #utilities, #sitenavigation, #contextnav, #searcharea, .helpLink, #footerLinks {
    display: none;
}

/* Now the navigation elements are gone, we need to */
/*   reformat the main body content.                */
/* Set up the page format. Nice big margins, just like LaTeX. */
#content {
  margin: 0cm;
  padding: 0cm;
  border: none;
  position: static
}

/* Reformat the title-bar text, which is not the page title.*/
#titlebar {
  display: none;
}

/* Reformat the links:                        */
/* - No underlining,                          */
/* - No colour, and                           */
/* - Add the link destination after the text. */
a, a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
