/* Print Medium Style Sheet         */
/* Michael JasonSmith               */
/* Copyright OnlineGroups.Net, 2006 */

/* Set up the default colours and font. Serif is easier to read on */
/*   paper, as is back on white text. (Besides, colour is rare and */
/*   expensive.) */
body {
  color: black;
  background-color: white;
  font-family: serif;
  margin: 0px;
  padding: 0px;
}

/* Do not display any of the navigation elements. */
#externallinks, #utilities, #sitenavigation, #contextnav {
  display: none;
}
#searcharea {
  display: none;
}
.helpLink {
    display: none;
}

/* Now the navigation elements are gone, we need to */
/*   reformat the main body content.                */
/* Set up the page format. Nice big margins, just like LaTeX. */
#content {
  margin: 0cm;
  padding: 0cm;
  border: none;
  position: static
}

/* Reformat the title-bar text, which is not the page title.*/
#titlebar {
  margin: 0cm;
  padding: 0cm;
  font-size: medium;
  position: static;
}
#titlebar span.group {
  margin: 0px;
  padding: 0px;
  font-size: medium;
}
#titlebar span.ision {
  margin: 0px;
  padding-left: 1em;
  font-size: medium; 
}

/* Reformat the links:                        */
/* - No underlining,                          */
/* - No colour, and                           */
/* - Add the link destination after the text. */
a, a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
a:after {
  font-size: xx-small;
  content: " (URI: " attr(href) ")";
}

.breadcrumb a:after {
    content: normal;
}
